*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots

# User-specific configuration
.gsconfig
# Example videos (too large for GitHub)
example_images/*.mp4
